body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
};

#game-canvas {
  position: absolute;
  width: 180px;
}

.canvas-container {
  position: absolute;
  width: 180px;
  z-index: -1;
  top: 55px;
  left: 60px;
}

canvas {
  width: 180px;
  z-index: -1;
}

.btn {
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 30px;
  width: 65px;
  height: 40px;
  padding: 2px;
  color: #0D5127;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #BDCAD3;
  white-space: nowrap;
}

.up-btn {
  top: 402px;
  left: 117px;
}

.down-btn {
  top: 518px;
  left: 117px;
  width: 70px;
}

.left-btn {
  top: 450px;
  left: 35px;
  width: 65px;
  transform: rotate(30deg);
}

.right-btn {
  top: 450px;
  left: 200px;
  width: 65px;
  transform: rotate(-30deg);
}

.right-btn p {
  transform: rotate(30deg);
  margin: 0;
}

.left-btn p {
  margin: 0;
  transform: rotate(-30deg);
}

.play-again-btn {
  padding: 2px;
  height: 35px;
  top: 288px;
  left: 100px;
  width: 100px;
}

.btn:hover {
  font-size: 19px;
  cursor: pointer;
}

.btn:active {
  font-size: 20px;
  cursor: pointer;
}

.game-container {
  position: relative;
  width: 300px;
  height: 80vh;
}

.nokia {
  position: absolute;
  /* display: none; */
  width: 300px;
  /* left: -83px;
  top: -75px; */
}